elpa/
eshell/
ido.last
transient
.lsp-session-v1
projectile-bookmarks.eld
.recentf
recentf
.idea
auto-save-list/
eclipse.jdt.ls/
projectile.cache
projects
workspace/
sw.el
.dap-breakpoints
games/
.cache/
url/
logview-cache.extmap
bookmarks
request/
tramp
